a:link { text-transform: none; }
      
      
      body {
        border-left: 5px solid white;
      } 
      .modal {
        max-height: 100%;
        width: 100%;
        startingTop: 0%;
        endingTop: 0%;
      }
          

      div.displayHidden {display: none;}
      div.displayBlock {display: block;}

       .tabs .tab a{
            background-color:#00796b;
            color:#ffffff;
        } /*Black color to the text*/

        .tabs .tab a:hover {
            background-color:#00bfa5;
            color:#ffffff;
        } /*Text color on hover*/

        .tabs .tab a.active {
            background-color:#00bfa5;
            color:#ffffff;
        } /*Background and text color when a tab is active*/

        .tabs .tab a:focus.active {
          color:#ffffff;
          /*Custom Text Color While Active*/
          background-color: #00bfa5;
          /*Custom Background Color While Active*/
}

        .tabs .indicator {
            background-color:#004d40;
        } /*Color of underline*/