a:link { text-transform: none}




body {
  border-left: solid white;
} 
.modal {
  max-height: 100%;
  width: 100%;
  startingTop: 0%;
  endingTop: 0%;
}

.modal.full {                                                                      
  width: 100vw; 
  max-height: 100vh; 
  height: 100vh;
  top: 0 !important;
  scroll-behavior: smooth;
}

.material-tooltip {
  background-color: black;
}

textarea {
  outline-color: #26A69A;
  overflow: auto; /* overflow is needed */
  resize: both;
  -webkit-appearance:textarea
}
          
      /* Safari 11+ */
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
  .modal.full { 
    height: 90vh; 
  }
  
}}
      
div.displayHidden {display: none;}
div.displayBlock {display: block;}
form.displayHidden {display: none;}
form.displayBlock {display: block;}

header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

li.tab.side {
    display: block;
    text-align: inherit;
}

.text-teal * {
  color: #26A69A !important;
}

.text-teal * {
  color: #26A69A !important;
}
.text-teal .active {
  background-color: #26A69A !important;
  color: #FFF !important;
}

ul#slide-out.tabs {
  display: block;
}
ul#slide-out.tabs .indicator{
  display:none;
}
